<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DigitronicartsConnection" connectionString="Data Source=SERVER;User ID=sa;Password=preet@1234;Initial Catalog=Digitronicarts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DigitronicartsConnectionString" connectionString="Data Source=SERVER;User ID=sa;Password=preet@1234;Initial Catalog=Digitronicarts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>